@font-face{
    font-family:'PoppinsMedium';
    src:url('../fonts/Poppins-Medium.otf')
}
@font-face{
    font-family:'PoppinsRegular';
    src:url('../fonts/Poppins-Regular.otf')
}
:root {
    --color-background:#fffdf7;
    --color-black:#212121;
    --color-text:#4f4f4f;
    --color-text-out:#90908e;
    --color-primary:#ffbf00;
    --color-secondary:#fff2cc;
    --color-white:#ffffff;
    --color-red:#e74c3c;
    --color-green:#2ecc71;
    --color-separate:#cccccc;

}
html, body {
    font-family: 'PoppinsRegular','Rubik',sans-serif;
    background-color:var(--color-background);
    color:var(--color-text);
}
b {
    font-family:'PoppinsMedium','Rubik',sans-serif; ;
}
.color-primary {
    color: var(--color-primary);
}
a.navbar-brand {
    margin-left: -25px;
}
.nav-link {
    color: var(--color-black) !important;;
    padding-left: 35px!important;
    padding-right: 35px!important;
}
.btn-white {
    background-color: var(--color-white);
    color: var(--color-black) !important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size:  20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.btn-white.active,.btn-white:hover {
background-color: var(--color-primary);
}

.btn-icon {
    padding-right: 75px;
}
.btn-icon .icon{
    display: inline-block;
    color: var(--color-black);
    background-color: var(--color-primary);
    width: 45px;
    height: 45px;
    position: absolute;
    right: 10px;
    margin-top: -8px;
    border-radius: 15px;
    text-align: center;
    padding-top: 6px;
}
.banner {
    padding-top: 110px;
    padding-bottom: 200px;
}
.text-banner {
flex-direction: column;
justify-content:center ;
margin-bottom: 60px;

}
.text-banner h1 {
     color:var(--color-black);
     font-size: 60px;
}
.text-banner p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}
.btn-yellow {
    background-color: var(--color-primary);
    color: var(--color-white) !important;
    border-radius: 20px;
    padding: 15px 25px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    
}
.btn-icon-left {
    padding-left: 70px;
}
.btn-icon-left span.icon-left {
    display: inline-block;
    color:var(--color-white);
    background-color: var(--color-primary);
    width: 45px;
    height: 45px;
    position: absolute;
    margin-left: -60px;
    margin-top: -8px;
    border-radius: 15px;
    text-align: center;
    padding-top: 8px;
}
.btn-sm {
    padding: 9px 15px!important;
    background: 15px!important;
    font-size: 18px!important;
}
.btn-social {
    width: 50px;
}

.card-banner{
    height: 450px;
    width: 450px;
    border-radius: 170px;
    background-color:#f4c949 ;
    position: absolute;
    right: 0;
    top: -80px;
}
.img-banner img {
    position: absolute;
    width: 570px;
    top:30px;
    right: 15px;

}
.card {
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1)!important;
    border: none!important;
}
.card-case {
    width: 350px;
    font-size: 14px;
    position: absolute;
    right: 0;
    bottom: -75px;
}
.card-case-name{
    position: absolute;
    font-size: 12px;
    color:var(--color-primary);
    right: 20px;
    bottom: 10px;
}
.serviços {
    padding-top: 100px;
    padding-bottom: 150px;
}
.hint-title{
    color: var(--color-primary);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.title {
    color: var(--color-black);
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 30px;
}
.card-icon {
height: 150px;
margin: 0 auto;
margin-bottom: 30px;
display: flex;
justify-content: center;
}
.card-text {
    color:var(--color-text-out);
    font-size: 15px;
    padding: 0px 30px;

}
.card-text p {
    font-size: 22px;
    color:var(--color-black);
    padding-bottom: 10px;
}
.background-servicos {
    position: absolute;
    left: 0;
    right: 0;
    height: 500px;
    background-image: url(../img/bg-icons-2.png);
}
