@font-face{
    font-family:'PoppinsMedium';
    src:url('../fonts/Poppins-Medium.otf')
}
@font-face{
    font-family:'PoppinsRegular';
    src:url('../fonts/Poppins-Regular.otf')
}
:root {
    --color-background:#fffdf7;
    --color-black:#212121;
    --color-text:#4f4f4f;
    --color-text-out:#90908e;
    --color-primary:#ffbf00;
    --color-secondary:#fff2cc;
    --color-white:#ffffff;
    --color-red:#e74c3c;
    --color-green:#2ecc71;
    --color-separate:#cccccc;

}
html, body {
    font-family: 'PoppinsRegular','Rubik',sans-serif;
    background-color:var(--color-background);
    color:var(--color-text);
}
b {
    font-family:'PoppinsMedium','Rubik',sans-serif; ;
}
.color-primary {
    color: var(--color-primary);
}
a.navbar-brand {
    margin-left: -25px;
}
.nav-link {
    color: var(--color-black) !important;;
    padding-left: 35px!important;
    padding-right: 35px!important;
}
.btn-white {
    background-color: var(--color-white);
    color: var(--color-black) !important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size:  20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.btn-icon {
    padding-right: 75px;
}
.btn-icon .icon{
    display: inline-block;
    color: var(--color-black);
    background-color: var(--color-primary);
    width: 45px;
    height: 45px;
    position: absolute;
    right: 10px;
    margin-top: -8px;
    border-radius: 15px;
    text-align: center;
    padding-top: 6px;
}
.banner {
    padding-top: 110px;
    padding-bottom: 200px;
}
.text-banner {
flex-direction: column;
justify-content:center ;
margin-bottom: 60px;

}
.text-banner h1 {
     color:var(--color-black);
     font-size: 60px;
}
.text-banner p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}
.btn-yellow {
    background-color: var(--color-primary);
    color: var(--color-white) !important;
    border-radius: 20px;
    padding: 15px 25px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    
}